{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if messages  %}
       {% for message in messages  %}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
       {% endfor %}
{% endif %} 
<br>
<div style="background-color: #d4edf3; height: 80px; align-items:center;  display: flex;" class="emp-head">
  <h1   style="margin-left: 100px; color: rgb(12, 48, 114); align-items: center;">Employee Details: </h1>
</div>


<br>
<br>
<div class="container" style="margin-left:5%; margin-right: 7.5% ;font-family: sans-serif;
font-size: medium;">
  
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">View</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Joining</th>
      <th scope="col">ID</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    
{% if records %}
	{% for record in records %}
		<tr>
      <td><a href={% url 'customer_record' record.id %}><i class='fa fa-eye' style='color: blue;font-size:25px;margin-left:5px;'></i></a></td> 
			<td>{{ record.first_name }} {{ record.last_name }}</td>
			<td>{{ record.email }}</td>
			<td>{{ record.phone_no }}</td>
			<td>{{ record.address }}</td>
			<td>{{ record.city }}</td>
			<td>{{ record.state }}</td>
			<td>{{ record.zipcode }}</td>
			<td>{{ record.created_at }}</td>
			<td><a href={% url 'customer_record' record.id %}>{{ record.id }}</a></td> 
      <td class='options' style='display:flex;flex-direction:row;align-items:center;'><a href={% url 'delete_record' record.id %}><button type="button" class="btn btn-light"><span id="boot-icon" class="bi bi-trash" style="font-size: 20px; color: rgb(255, 0, 0); opacity: 0.9; -webkit-text-stroke-width: 0.6px; background-color: rgb(255, 255, 255); border: groove;"></span></button></a> <a href={% url 'update_record' record.id %}><button class='fa fa-edit' style='color:#20b13d; font-size:20px;'></button></td></a>

		</tr>
	{% endfor %}

{% endif %}

	
	  </tbody>
	</table>
</div>

 
    
{% else %}
{% if messages  %}
       {% for message in messages  %}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
       {% endfor %}
{% endif %} 
  
  <body>
    <style>
        
        main-block {
        display: flex;
        justify-content: center;
        height: 80%;
        }
        div, h1, form, input, p { 
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        color: #666;
        }
        h1 {
        padding: 10px 0;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        }
        p {
        font-size: 12px;
        }
        hr {
        color: #a9a9a9;
        opacity: 0.3;
        }
        .main-block {
        max-width: 340px; 
        min-height: 460px; 
        padding: 10px 20px;
        margin: auto ;
        margin-top: 40px;
    
        border-radius: 5px; 
        border: solid 1px #ccc;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
        background: #ebebeb; 
        }
        form {
        margin: 0 30px;
        }
        .account-type, .gender {
        margin: 15px 0;
        }
        input[type=radio] {
        display: none;
        }
        label#icon {
        margin: 0;
        border-radius: 5px 0 0 5px;
        }
        label.radio {
        position: relative;
        display: inline-block;
        padding-top: 4px;
        margin-right: 20px;
        text-indent: 30px;
        overflow: visible;
        cursor: pointer;
        }
        label.radio:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #1c87c9;
        }
        label.radio:after {
        content: "";
        position: absolute;
        width: 9px;
        height: 4px;
        top: 8px;
        left: 4px;
        border: 3px solid #fff;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        opacity: 0;
        }
        input[type=radio]:checked + label:after {
        opacity: 1;
        }
        input[type=text], input[type=password] {
        width: calc(100% - 57px);
        height: 36px;
        margin: 13px 0 0 -5px;
        padding-left: 10px; 
        border-radius: 0 5px 5px 0;
        border: solid 1px #cbc9c9; 
        box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
        background: #fff; 
        }
        input[type=password] {
        margin-bottom: 15px;
        }
        #icon {
        display: inline-block;
        padding: 9.3px 15px;
        box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
        background: #1c87c9;
        color: #fff;
        text-align: center;
        }
        .btn-block {
        margin-top: 10px;
        text-align: center;
        }
        button {
        width: 100%;
        padding: 10px 0;
        margin: 10px auto;
        border-radius: 5px; 
        border: none;
        background: #1c87c9; 
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        }
        button:hover {
        background: #26a9e0;
        }
      </style>
    <div class="main-block">
      <h1>Login</h1>
      
      <form action="{%  url 'home' %}" method='POST'> 
        {% csrf_token %}
       
        <hr>
        
        <label id="icon" for="username"><i class="fas fa-user"></i></label>
        <input type="text" name="username" id="name" placeholder="Name" required/>
        <label id="icon" for="password"><i class="fas fa-unlock-alt"></i></label>
        <input type="password" name="password" id="name" placeholder="Password" required/>
        <hr>
    
        <div class="btn-block">
          <p>By clicking Register, you agree on our <a href="https://www.google.com">Privacy Policy for this Organization</a>.</p>
          <hr>
          <hr>
          <button type="submit" href="/">Submit</button>
        </div>
      </form>
    </div>
  </body>
  {% endif %}
  

{% endblock content %}